@use "sass:math";

@mixin pseudo($content: "", $pos: absolute, $display: block) {
    position: $pos;
    display: $display;
    content: $content;
}

@mixin a11y-hidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

@mixin expand-click-area($width: 8px, $height: 8px, $pseudo: before) {
    position: relative;

    &:#{$pseudo} {
        @include pseudo;

        top: -#{$height};
        right: -#{$width};
        bottom: -#{$height};
        left: -#{$width};
        cursor: pointer;
    }
}

@mixin font-size($font-size, $height) {
    font-size: #{$font-size}px;

    @include line-height($font-size, $height);
}

@mixin line-height($font-size, $height) {
    line-height: math.div($height, $font-size);
}

@mixin underline($size: 1px, $speed: var(--app-transition-duration-3), $reverse: false) {
    text-decoration: none;
    background-image: linear-gradient(currentcolor, currentcolor);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% $size;

    &:hover,
    &:focus {
        animation: underline-#{$size} $speed ease-in-out;
    }

    @if $reverse {
        background-position: 100% 100%;
        background-size: 0 $size;
        transition: background-size $speed ease-in-out;

        &:hover,
        &:focus {
            background-position: 0 100%;
            background-size: 100% $size;
            animation: none;
        }
    }

    /* stylelint-disable-next-line keyframes-name-pattern */
    @keyframes underline-#{$size} {
        0% {
            background-position: 100% 100%;
            background-size: 100% $size;
        }

        50% {
            background-position: 100% 100%;
            background-size: 0 $size;
        }

        51% {
            background-position: 0 100%;
            background-size: 0 $size;
        }

        100% {
            background-position: 0 100%;
            background-size: 100% $size;
        }
    }
}

@mixin mq-to($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin mq-from($breakpoint) {
    @media screen and (min-width: $breakpoint + 1) {
        @content;
    }
}

@mixin mq-from-to($breakpointMin, $breakpointMax) {
    @media screen and (min-width: $breakpointMin + 1) and (max-width: $breakpointMax) {
        @content;
    }
}

@mixin mk-fill() {
    width: 100%;
}

@mixin theme($theme) {
    &[data-theme="#{$theme}"] {
        @content;
    }
}

@mixin dark() {
    @include theme("dark") {
        @content;
    }
}

@mixin light() {
    @include theme("light") {
        @content;
    }
}

@mixin not-disabled() {
    &:not([disabled]),
    &:not([data-disabled="true"]) {
        @content;
    }
}

@mixin disabled() {
    &[disabled],
    &[data-disabled="true"] {
        @content;
    }
}
