@mixin app-root-theme() {
    // Grey nuances
    --c-white: #fff;
    --c-black: #000;
    --c-grey-99: #fcfcfc;
    --c-grey-98: #f9f9f9;
    --c-grey-95: #f2f2f2;
    --c-grey-90: #e6e6e6;
    --c-grey-80: #ccc;
    --c-grey-70: #b3b3b3;
    --c-grey-60: #999;
    --c-grey-50: #808080;
    --c-grey-40: #666;
    --c-grey-30: #4d4d4d;
    --c-grey-20: #333;
    --c-grey-12: #1e1e1e;
    --c-grey-5: #0d0d0d;
    --c-grey-3: #080808;

    // Tone colors
    --c-tone-red: 255 71 77;
    --c-tone-blue: 0 144 247;
    --c-tone-green: 45 190 42;
    --c-tone-orange: 251 159 44;
    --c-red: rgb(var(--c-tone-red));
    --c-blue: rgb(var(--c-tone-blue));
    --c-green: rgb(var(--c-tone-green));
    --c-orange: rgb(var(--c-tone-orange));

    // App
    --app-font-family-base: "Roboto Flex", sans-serif;
    --app-family-special: serif;
    --app-font-size: 16px;
    --app-line-height: 1.1875;

    // Layout
    $m: 8px;

    @for $i from 1 through 12 {
        --app-m-#{$i}: #{$m * $i};
    }

    // Shapes
    --app-border-radius: 4px;
    --app-opacity-disabled: 0.2;

    // Transitions
    --app-transition-duration-1: 128ms;
    --app-transition-duration-2: 256ms;
    --app-transition-duration-3: 512ms;
    --app-transition-duration-background: var(--app-transition-duration-2);
    --app-transition-duration-color: var(--app-transition-duration-2);
    --app-transition-duration-opacity: var(--app-transition-duration-2);
    --app-transition-duration-transform: var(--app-transition-duration-2);

    // Inputs
    --app-input-padding-x: var(--app-m-2);
    --app-input-padding-y: var(--app-m-1);
    --app-input-opacity-disabled: 0.6;
}

@mixin app-light-theme() {
    color-scheme: light;

    --app-primary-tone-color: 12 120 246;
    --app-primary-color: rgb(var(--app-primary-tone-color));

    // Theme
    --app-theme-color: var(--c-white);
    --app-theme-color-surface: var(--c-black);

    // Background
    --app-background-color: var(--app-theme-color);
    --app-background-color-hover: var(--c-grey-98);
    --app-background-color-soft: var(--c-grey-99);
    --app-background-color-soft-hover: var(--c-grey-95);
    --app-background-color-highlight: var(--c-grey-95);
    --app-background-color-highlight-hover: var(--c-grey-90);
    --app-background-color-surface: var(--app-theme-color-surface);
    --app-background-color-surface-hover: var(--c-grey-5);
    --app-background-color-on-primary: var(--app-background-color);
    --app-background-color-on-primary-hover: var(--app-background-color-hover);

    // Text
    --app-text-color: var(--app-theme-color-surface);
    --app-text-color-soft: var(--c-grey-40);
    --app-text-color-on-surface: var(--app-theme-color);
    --app-heading-color: var(--app-theme-color-surface);
    --app-heading-color-on-surface: var(--app-theme-color);
    --app-text-color-on-primary: var(--app-text-color-on-surface);

    // Borders
    --app-border-color: var(--c-grey-80);
    --app-border-color-highlight: var(--c-grey-40);

    // Tone feedback
    --app-info-color: var(--c-blue);
    --app-info-color-soft: rgb(var(--c-tone-blue) / 0.05);
    --app-success-color: var(--c-green);
    --app-success-color-soft: rgb(var(--c-tone-green) / 0.05);
    --app-warning-color: var(--c-orange);
    --app-warning-color-soft: rgb(var(--c-tone-orange) / 0.05);
    --app-error-color: var(--c-red);
    --app-error-color-soft: rgb(var(--c-tone-red) / 0.05);

    // Inputs
    --app-input-background-color: var(--app-background-color-soft);
    --app-input-background-color-focus: var(--c-grey-98);
    --app-input-border-color: var(--app-border-color);
    --app-input-icon-color: var(--app-text-color);
    --app-input-placeholder-color: var(--c-grey-80);
    --app-input-color-disabled: var(--c-grey-50);
}

@mixin app-dark-theme() {
    color-scheme: dark;

    --app-primary-color: #0c78f6;

    // --app-primary-color-15: #daf0ff;
    // --app-primary-color-10: #e6f5ff;
    // --app-primary-color-5: #f2faff;
    // --app-primary-color-20-highlight: #cfdde6;
    // --app-primary-color-15-highlight: #d9e8f2;

    // Theme
    --app-theme-color: var(--c-black);
    --app-theme-color-surface: var(--c-white);

    // Background
    --app-background-color: var(--app-theme-color);
    --app-background-color-hover: var(--c-grey-5);
    --app-background-color-soft: var(--c-grey-5);
    --app-background-color-soft-hover: var(--c-grey-20);
    --app-background-color-highlight: var(--c-grey-20);
    --app-background-color-highlight-hover: var(--c-grey-40);
    --app-background-color-surface: var(--app-theme-color-surface);
    --app-background-color-surface-hover: var(--c-grey-98);
    --app-background-color-on-primary: var(--app-background-color-surface);
    --app-background-color-on-primary-hover: var(--app-background-color-hover);

    // Text
    --app-text-color: var(--app-theme-color-surface);
    --app-text-color-soft: var(--c-grey-60);
    --app-text-color-on-surface: var(--app-theme-color);
    --app-heading-color: var(--app-theme-color-surface);
    --app-heading-color-on-surface: var(--app-theme-color);
    --app-text-color-on-primary: var(--app-text-color);

    // Borders
    --app-border-color: var(--c-grey-30);
    --app-border-color-highlight: var(--c-grey-70);

    // Tone feedback
    --app-info-color: var(--c-blue);
    --app-info-color-soft: rgb(var(--c-tone-blue) / 0.1);
    --app-success-color: var(--c-green);
    --app-success-color-soft: rgb(var(--c-tone-green) / 0.1);
    --app-warning-color: var(--c-orange);
    --app-warning-color-soft: rgb(var(--c-tone-orange) / 0.1);
    --app-error-color: var(--c-red);
    --app-error-color-soft: rgb(var(--c-tone-red) / 0.1);

    // Inputs
    --app-input-background-color: var(--app-background-color-soft);
    --app-input-background-color-focus: var(--c-grey-3);
    --app-input-border-color: var(--app-border-color);
    --app-input-icon-color: var(--app-text-color);
    --app-input-placeholder-color: var(--c-grey-40);
    --app-input-color-disabled: var(--c-grey-50);
}
