@use "sass:math";

@mixin app-root-theme() {
    // Grey nuances
    --c-white: #fff;

    @for $i from 99 through 1 {
        $gscale: #{$i * math.div(255, 100)};

        --c-grey-#{$i}: rgb(#{$gscale}, #{$gscale}, #{$gscale});
    }

    --c-black: #000;

    // Tone colors
    --c-tone-red: 255 71 77;
    --c-tone-blue: 0 144 247;
    --c-tone-green: 45 190 42;
    --c-tone-orange: 251 159 44;
    --c-red: rgb(var(--c-tone-red));
    --c-blue: rgb(var(--c-tone-blue));
    --c-green: rgb(var(--c-tone-green));
    --c-orange: rgb(var(--c-tone-orange));

    // App
    --app-font-family-base: "Roboto Flex", sans-serif;
    --app-family-special: serif;
    --app-font-size: 16px;
    --app-line-height: 1.1875;

    // Layout
    $m: 8px;

    @for $i from 1 through 12 {
        --app-m-#{$i}: #{$m * $i};
    }

    // Shapes
    --app-border-radius: 4px;
    --app-opacity-disabled: 0.2;

    // Transitions
    --app-transition-duration-1: 128ms;
    --app-transition-duration-2: 256ms;
    --app-transition-duration-3: 512ms;
    --app-transition-duration-background: var(--app-transition-duration-2);
    --app-transition-duration-color: var(--app-transition-duration-2);
    --app-transition-duration-opacity: var(--app-transition-duration-2);
    --app-transition-duration-transform: var(--app-transition-duration-2);

    // Inputs
    --app-input-border-radius: var(--app-border-radius);
    --app-input-border-width: 1px;
    --app-input-font-size: 1rem;
    --app-input-opacity-disabled: 0.6;
    --app-input-padding-x: var(--app-m-2);
    --app-input-padding-y: var(--app-m-1);
    --app-input-icon-size: 20px;

    // Layers
    --app-fullscreen-layer-order: 1000;
    --app-floating-layer-order: 1100;
}

@mixin app-light-theme() {
    color-scheme: light;

    --app-primary-tone-color: 12 120 246;
    --app-primary-color: rgb(var(--app-primary-tone-color));

    // Theme
    --app-theme-color: var(--c-white);
    --app-theme-color-contrast: var(--c-black);

    // Background
    --app-background-color: var(--app-theme-color);
    --app-background-color-hover: var(--c-grey-98);
    --app-background-color-soft: var(--c-grey-99);
    --app-background-color-soft-hover: var(--c-grey-95);
    --app-background-color-highlight: var(--c-grey-95);
    --app-background-color-highlight-hover: var(--c-grey-90);
    --app-background-color-contrast: var(--app-theme-color-contrast);
    --app-background-color-contrast-hover: var(--c-grey-5);
    --app-background-color-on-primary: var(--app-background-color);
    --app-background-color-on-primary-hover: var(--app-background-color-hover);

    // Text
    --app-text-color: var(--app-theme-color-contrast);
    --app-text-color-soft: var(--c-grey-40);
    --app-text-color-on-contrast: var(--app-theme-color);
    --app-heading-color: var(--app-theme-color-contrast);
    --app-heading-color-on-contrast: var(--app-theme-color);
    --app-text-color-on-primary: var(--app-text-color-on-contrast);

    // Borders
    --app-border-color: var(--c-grey-80);
    --app-border-color-highlight: var(--c-grey-40);

    // Tone feedback
    --app-info-color: var(--c-blue);
    --app-info-color-soft: rgb(var(--c-tone-blue) / 0.05);
    --app-success-color: var(--c-green);
    --app-success-color-soft: rgb(var(--c-tone-green) / 0.05);
    --app-warning-color: var(--c-orange);
    --app-warning-color-soft: rgb(var(--c-tone-orange) / 0.05);
    --app-error-color: var(--c-red);
    --app-error-color-soft: rgb(var(--c-tone-red) / 0.05);

    // Inputs
    --app-input-color: currentcolor;
    --app-input-background-color: var(--app-background-color-soft);
    --app-input-background-color-focus: var(--c-grey-98);
    --app-input-border-color: var(--app-border-color);
    --app-input-icon-color: var(--app-text-color);
    --app-input-placeholder-color: var(--c-grey-80);
    --app-input-color-disabled: var(--c-grey-50);
}

@mixin app-dark-theme() {
    color-scheme: dark;

    --app-primary-tone-color: 12 120 246;
    --app-primary-color: rgb(var(--app-primary-tone-color));

    // Theme
    --app-theme-color: var(--c-black);
    --app-theme-color-contrast: var(--c-white);

    // Background
    --app-background-color: var(--app-theme-color);
    --app-background-color-hover: var(--c-grey-5);
    --app-background-color-soft: var(--c-grey-5);
    --app-background-color-soft-hover: var(--c-grey-20);
    --app-background-color-highlight: var(--c-grey-20);
    --app-background-color-highlight-hover: var(--c-grey-40);
    --app-background-color-contrast: var(--app-theme-color-contrast);
    --app-background-color-contrast-hover: var(--c-grey-98);
    --app-background-color-on-primary: var(--app-background-color-contrast);
    --app-background-color-on-primary-hover: var(--app-background-color-hover);

    // Text
    --app-text-color: var(--app-theme-color-contrast);
    --app-text-color-soft: var(--c-grey-60);
    --app-text-color-on-contrast: var(--app-theme-color);
    --app-heading-color: var(--app-theme-color-contrast);
    --app-heading-color-on-contrast: var(--app-theme-color);
    --app-text-color-on-primary: var(--app-text-color);

    // Borders
    --app-border-color: var(--c-grey-30);
    --app-border-color-highlight: var(--c-grey-70);

    // Tone feedback
    --app-info-color: var(--c-blue);
    --app-info-color-soft: rgb(var(--c-tone-blue) / 0.1);
    --app-success-color: var(--c-green);
    --app-success-color-soft: rgb(var(--c-tone-green) / 0.1);
    --app-warning-color: var(--c-orange);
    --app-warning-color-soft: rgb(var(--c-tone-orange) / 0.1);
    --app-error-color: var(--c-red);
    --app-error-color-soft: rgb(var(--c-tone-red) / 0.1);

    // Inputs
    --app-input-color: currentcolor;
    --app-input-background-color: var(--app-background-color-soft);
    --app-input-background-color-focus: var(--c-grey-3);
    --app-input-border-color: var(--app-border-color);
    --app-input-icon-color: var(--app-text-color);
    --app-input-placeholder-color: var(--c-grey-40);
    --app-input-color-disabled: var(--c-grey-50);
}
