@mixin app-root-theme() {
    // Grey nuances
    --c-white: #fff;
    --c-black: #000;
    --c-grey-99: #fcfcfc;
    --c-grey-98: #f9f9f9;
    --c-grey-95: #f2f2f2;
    --c-grey-90: #e6e6e6;
    --c-grey-80: #ccc;
    --c-grey-60: #999;
    --c-grey-48: #7a7a7a;
    --c-grey-40: #666;
    --c-grey-20: #333;
    --c-grey-5: #0d0d0d;
    --c-grey-3: #080808;

    // Tone colors
    --c-red: #ff474d;
    --c-red-5: #fff6f6;
    --c-blue: #0090f7;
    --c-blue-5: #f2f9ff;
    --c-green: #2dbe2a;
    --c-green-5: #f5fcf4;
    --c-orange: #fb9f2c;
    --c-orange-5: #fffaf4;

    // App
    --app-font-family-base: "Roboto Flex", sans-serif;
    --app-family-special: serif;
    --app-font-size: 16px;
    --app-line-height: 1.1875;

    // Layout
    $m: 8px;

    @for $i from 1 through 12 {
        --app-m-#{$i}: #{$m * $i};
    }

    // Shapes
    --app-border-radius: 4px;
    --app-opacity-disabled: 0.2;

    // Transitions
    --app-transition-duration-1: 128ms;
    --app-transition-duration-2: 256ms;
    --app-transition-duration-3: 512ms;
    --app-transition-duration-background: var(--app-transition-duration-2);
    --app-transition-duration-border: var(--app-transition-duration-1);
    --app-transition-duration-color: var(--app-transition-duration-2);
    --app-transition-duration-opacity: var(--app-transition-duration-2);
    --app-transition-duration-transform: var(--app-transition-duration-2);

    // Inputs
    --app-input-padding-x: var(--app-m-2);
    --app-input-padding-y: var(--app-m-1);
}

@mixin app-light-theme() {
    color-scheme: light;

    --app-primary-color: #0090f7;
    --app-primary-color-60: #66c2ff;
    --app-primary-color-15: #d9f0ff;
    --app-primary-color-10: #e6f5ff;
    --app-primary-color-5: #f2faff;
    --app-primary-color-20-highlight: #cfdde6;
    --app-primary-color-15-highlight: #d9e8f2;

    // Theme
    --app-theme-color: var(--c-white);
    --app-theme-color-surface: var(--c-black);

    // Background
    --app-background-color: var(--app-theme-color);
    --app-background-color-hover: var(--c-grey-98);
    --app-background-color-soft: var(--c-grey-99);
    --app-background-color-soft-hover: var(--c-grey-95);
    --app-background-color-highlight: var(--c-grey-95);
    --app-background-color-highlight-hover: var(--c-grey-90);
    --app-background-color-surface: var(--app-theme-color-surface);
    --app-background-color-surface-hover: var(--c-grey-5);
    --app-background-color-on-primary: var(--app-background-color);
    --app-background-color-on-primary-hover: var(--app-background-color-hover);

    // Text
    --app-text-color: var(--app-theme-color-surface);
    --app-text-color-soft: var(--c-grey-40);
    --app-text-color-on-surface: var(--app-theme-color);
    --app-heading-color: var(--app-theme-color-surface);
    --app-heading-color-on-surface: var(--app-theme-color);
    --app-text-color-on-primary: var(--app-text-color-on-surface);

    // Borders
    --app-border-color: var(--c-grey-95);
    --app-border-color-highlight: var(--c-grey-80);

    // Tone feedback
    --app-info-color: var(--c-blue);
    --app-info-color-soft: var(--c-blue-5);
    --app-success-color: var(--c-green);
    --app-success-color-soft: var(--c-green-5);
    --app-warning-color: var(--c-orange);
    --app-warning-color-soft: var(--c-orange-5);
    --app-error-color: var(--c-red);
    --app-error-color-soft: var(--c-red-5);

    // Inputs
    --app-input-background-color: var(--app-background-color-soft);
    --app-input-background-color-focus: var(--c-grey-98);
    --app-input-border-color: var(--app-border-color);
    --app-input-icon-color: var(--app-text-color);
}

@mixin app-dark-theme() {
    color-scheme: dark;

    --app-primary-color: #0090f7;
    --app-primary-color-60: #66c2ff;
    --app-primary-color-15: #daf0ff;
    --app-primary-color-10: #e6f5ff;
    --app-primary-color-5: #f2faff;
    --app-primary-color-20-highlight: #cfdde6;
    --app-primary-color-15-highlight: #d9e8f2;

    // Theme
    --app-theme-color: var(--c-black);
    --app-theme-color-surface: var(--c-white);

    // Background
    --app-background-color: var(--app-theme-color);
    --app-background-color-hover: var(--c-grey-5);
    --app-background-color-soft: var(--c-grey-5);
    --app-background-color-soft-hover: var(--c-grey-20);
    --app-background-color-highlight: var(--c-grey-20);
    --app-background-color-highlight-hover: var(--c-grey-40);
    --app-background-color-surface: var(--app-theme-color-surface);
    --app-background-color-surface-hover: var(--c-grey-98);
    --app-background-color-on-primary: var(--app-background-color-surface);
    --app-background-color-on-primary-hover: var(--app-background-color-hover);

    // Text
    --app-text-color: var(--app-theme-color-surface);
    --app-text-color-soft: var(--c-grey-60);
    --app-text-color-on-surface: var(--app-theme-color);
    --app-heading-color: var(--app-theme-color-surface);
    --app-heading-color-on-surface: var(--app-theme-color);
    --app-text-color-on-primary: var(--app-text-color);

    // Borders
    --app-border-color: var(--c-grey-20);
    --app-border-color-highlight: var(--c-grey-40);

    // Tone feedback
    --app-info-color: var(--c-blue);
    --app-info-color-soft: var(--c-blue-5);
    --app-success-color: var(--c-green);
    --app-success-color-soft: var(--c-green-5);
    --app-warning-color: var(--c-orange);
    --app-warning-color-soft: var(--c-orange-5);
    --app-error-color: var(--c-red);
    --app-error-color-soft: var(--c-red-5);

    // Inputs
    --app-input-background-color: var(--app-background-color-soft);
    --app-input-background-color-focus: var(--c-grey-3);
    --app-input-border-color: var(--app-border-color);
    --app-input-icon-color: var(--app-text-color);
}
